/* COMMON */
body {
  color: #333;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  height: 6000px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn {
  display: block;
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #3333;
}

.btn.btn--brown {
  color: #fff;
  background-color: #592b18;
}

.btn.btn--gold {
  color: #d9aa9a;
}

.btn.btn--white {
  color: #fff;
  border-color: #fff;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

/* HEADER */
/* 페이지를 스크롤해도 header가 상단에 고정되게 설정하려면 position을 fixed로 설정한다.*/
/* block요소는 기본적으로 가로 넓이를 최대한으로 잡으려고 시도하지만 position aboluste나 fixed로 설정하면 가로 넓이를 최소한(width: auto)으로 잡기 때문에 width값을 최대한으로 잡기 위해서는 width: 100% 로 설정하면 된다.*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  z-index: 9;
}

header > .inner {
  height: 120px;
}

header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}

header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}

/* 각 서브메뉴 마다 구분선을 추가한다. */
header .sub-menu ul.menu li::before {
  content: '';
  /* display: block; */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* 첫번째 서브메뉴의 구분선을 제거한다. */
header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  display: block;
  font-size: 12px;
  padding: 11px 16px;
  color: #656565;
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search {
  position: relative;
  height: 34px;
}

/* input 요소가 blur되면 해당 css가 설정된다. */
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  transition: width 0.4s;
}

/* input 요소가 focus되면 해당 css가 설정된다. */
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

/* 수직 중간 정렬을 하기 위해선 absolute 설정과 top, bottom 설정, 그리고 요소의 크기를 지정해줘야한다. */
header .sub-menu .search .material-symbols-outlined {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.4s;
}

/* focused는 붙고 빠지는 것에 해당하기 대문에 일치 연산자로 작성해야한다 */
/* opacity를 0으로 설정해서 focus 될때 돋보기 아이콘이 삭제되도록 한다. */
header .sub-menu .search.focused .material-symbols-outlined {
  opacity: 0;
}

/* 메인 메뉴를 header에 우측하단에 배치하고 z-index: 1로 줘서 레이어 최상단으로 끌어올려 다른 요소들을 덮일 수 있도록 한다. */
header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

header .main-menu .item {
}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

/* 좌상단 우상단으로 border-radius를 준다. */
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

/* 너비를 100%로 가지고 fixed를 통해 스크롤 되도 같이 움직일 수 있도록 설정한다.
그리고 처음에는 none으로 되어있다가 각 메인 메뉴를 hover한 순간 contents 들이 출력될 숭 있도록 block으로 설정한다. */
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

/* 자식선택자(>)를 사용하지 않고 .contents__menu ul로 선택자로 잡으면 .contents__menu안에 있는 모든 ul태그들을 선택자로 잡기 때문에 주의해야한다. */
/* depth가 깊어질 수록 선택자의 길이가 길어지지만 추후에 scss를 배우면 중복되는 부분을 커버할 수 있다. */
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;
}
/* 안에 있는 li들을 수평으로 배치하기 위해 flex를 설정함 */

header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  paading: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

/* 하위 메뉴들 스타일링 */
/* cursor: pointer를 주면 포인터가 화살표 모양에서 손가락으로 가리키는 모양으로 변경된다. */
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}

/* texture 부분 */
/* font-size를 h4, p에 각각 넣을 필요 없이 부모 요소에 해당하는 .contents__texture에 font-size를 설정하면 자식요소는 상속받기 때문에 부모 요소에만 설정하면 된다. */
/* 배경에 패턴을 주기위해 iamges 폴더에 있는 main_menu_pattern.jpg를 가져와야한다. 때문에 background-image속성에 url에 해당 이미지 경로를 입력한다. */
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url('../images/main_menu_pattern.jpg');
}

header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}

/* badge들의 위치 설정을 위해 position을 abosolute로 설정하고 부모 요소인 header에 relative를 설정한다. 이후 top, right를 통해 badge들의 위치를 설정한다. */
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

/* badge에 border-radius를 설정해도 안에 있는 이미지가 영역 밖으로 나오기 떄문에 overflow: hidden을 통해 이를 막아준다. */
/* box-shadow를 통해 요소에 그림자를 부여할수 있다. x축으로 4px y축으로 4px으로 그림자를 위치하고 blur를 10px로 부여하고 rgba를 통해 검정색을 추가하는데 투명도를 0.15를 설정한다. */
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0, 0.15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url('../images/visual_bg.jpg');
  background-position: center;
}

.visual .inner {
  height: 646px;
}

.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual .fade-in {
  opacity: 0;
}

/* NOTICE */
.notice {
}

.notice .notice-line {
  position: relative;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  height: 62px;
  display: flex;
}

.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container {
  height: 62px;
  flex-grow: 1;
}

.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}

.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__left .notice-line__more .material-symbols-outlined {
  color: #fff;
  font-size: 30px;
}

.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner__right h2 {
  font-size: 12px;
  font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-symbols-outlinedi {
  font-size: 30px;
}

.notice .promotion {
  position: relative;
  height: 693px;
  background-color: #f6f5ef;
  transition: height 0.4s;
  overflow: hidden;
}

.notice .promotion.hide {
  height: 0;
}

/* 특정한 탄뒤를 계산할 수 있음 
  하나의 슬라이드 너비 819px * 슬라이드 개수 + 여백 20px
*/

.notice .promotion .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 533px;
  position: absolute;
  top: 40px;
  left: 50%;
  /* margin-left: calc((819px * 3 + 20px) / -2); */
  transform: translateX(-50%);
}

.notice .promotion .swiper-slide {
  position: relative;
  opacity: 0.2;
  transition: opacity 1s;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url('../images/promotion_slide_pager.png');
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url('../images/promotion_slide_pager_on.png');
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

/* REWARDS */
.rewards {
  position: relative;
}

.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}

.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}

.rewards .inner {
  background-image: url('../images/rewards.jpg');
  height: 241px;
}

.rewards .btn-group {
  position: absolute;
  bottom: 24px;
  right: 0;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}

.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
  width: 110px;
}

.rewards .btn-group .btn.gift {
  margin-top: 10px;
  flex-grow: 1;
}

/* YOUTUBE VIDEO */
.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
}

/* 유튜브 영역은 16:9 크기만큼 설정을해놓고 중앙배치를 한 이후에 중앙 부분만 보일수 있게끔 .youtube에 overflow: hidden을 하여 중앙을 제외한 위 아래 영역을 외부 영역으로 침범하지 않도록 설정한다. 이렇게 하면 유튜브 영상이 해당 height만큼 줄어드는게 아닌 영상에 중앙 부분만 보일 수 있게끔 설정할 수 있다. */
.youtube .youtube__area {
  width: 1920px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.youtube .youtube__area::before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.youtube .youtube__cover {
  background-image: url('../images/video_cover_pattern.png');
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;
}

.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}

.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150;
}

.youtube .floating3 {
  position: absolute;
  bottom: -200px;
  right: 0;
}

/* SEASON PRODUCT */
.season-product {
  background-image: url('../images/season_product_bg.jpg');
}
.season-product .inner {
  height: 400px;
}

.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}

.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}

.season-product .text-group .title {
  margin-bottom: 10px;
}

.season-product .text-group .description {
  margin-bottom: 15px;
}

.season-product .text-group .more {
}

/* RESERVE COFFEE */
.reserve-coffee {
  background-image: url('../images/reserve_bg.jpg');
}

.reserve-coffee .inner {
  height: 400px;
}

.reserve-coffee .reserve-loro {
  position: absolute;
  top: 110px;
  left: 0;
}

.reserve-coffee .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}

.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}

/* PICK YOUR FAVORITE */
.pick-your-favorite {
  background-image: url('../images/favorite_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  /* scroll시 배경화면이 멈춰있도록 하는 속성 => Parallax */
  background-attachment: fixed;
  background-size: cover;
}

.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .text-group {
  display: flex;
  width: 362px;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 100px;
}

.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {
  margin-bottom: 40px;
}
